body{
  font-family: "Arial";
  font-weight: normal;
  max-width: 800px;
  margin: 0px;
  margin-top: 0px;
  /*background-image: url("http://localhost/koufu_system/img/pr.jpg");
  width: 500px;
  background-size: 100%;*/
}

@page { margin: 0px;margin-top: 0px; }

.padd,td{
  padding: 6px 0px;
  font-size: 15px;
  height: 1px;

}
.small-space{
  padding: 10px;
}

.text-header{
    padding-left: 96.7px;
} 
.layout{
     padding-left: 30px;
} 


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    /*color: inherit;
    font-family: inherit;
    font-weight: 500;*/
    line-height: 1.0 !important;
    margin: 0;
}
.main-pdf{
  height: 100px;
}
.para{
  padding-left: 60px;
}
.footer{
  padding-left: 30px;
 text-align: left;
}

.footer2{
  text-align: right;

  padding-left: 1px;
}
.tables-css{
  position: fixed;
  float: left;
  text-align: right;
  top: 950px;
  width:100%;
}
/*.doc{
  position: fixed;
  float: left;
  text-align: right;
  /*top: 710px;
}*/

