.message{
	 color: #000;
    display: block;
    font-size: 120%;
    margin: 1em 0;
    padding: 0.8em;
    /*background: linear-gradient(center top , #76bf6b, #3b8230) repeat-x scroll 0 0 #3b8230;*/
     /*-webkit-background: -webkit-linear-gradient(center top , #76bf6b, #3b8230) repeat-x scroll 0 0 #3b8230;*/
    background: #76bf6b;
    clear: both;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.body-pad{
	padding-top: 6px;
}
#newsfeed .remove-pad{
	padding-left:0;
}
#config-tool{
	width: 300px;
}
#config-tool.closed {
    right: -300px;
}
.notice {
    color: #000;
    display: block;
    font-size: 120%;
    margin: 1em 0;
    padding: 0.8em;
}
.success {
    background: -moz-linear-gradient(center top , #76bf6b, #3b8230) repeat-x scroll 0 0 #3b8230;
    border: 1px solid rgba(0, 0, 0, 0.5);
    clear: both;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.error-message {
    color: red;
}
.error{
    color: red;
}
li.current a {
  color: #000 !important;
  font-weight: bold;
}
/*this is my CSS */
hr { 
    display: block;
    border-style: inset;
    border-width: 1px;
} 
.post{ 
   position: relative;
   bottom: 10px;
} 
.boxed {
    border: 1px solid black ;
    width: 470px;
    height: 180px;
    text-align: justify;
  /*  padding: 25px;
    border: 25px solid navy;
    margin: 25px;*/

}
.tbl{
    border-collapse: collapse;
    font-family : Verdana,Helvetica,Arial,sans-serif;

}
.row{
    border: none;
    font-family : Verdana,Helvetica,Arial,sans-serif;

}
.column{
   
    border-top:  1px solid black;
    font-family : Verdana,Helvetica,Arial,sans-serif;
}

.column2{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top:  1px solid black;
    font-family : Verdana,Helvetica,Arial,sans-serif;
}
.column3{
   border-left: 1px solid black;
    border-right: 1px solid black;
    border-top:  1px solid black;
    font-family : Verdana,Helvetica,Arial,sans-serif;
}
.column4{
   border-left: 1px solid black;
    border-right: 1px solid black;
   
    font-family : Verdana,Helvetica,Arial,sans-serif;
}


.item_type.test.Vat-check {
    margin-left: 21px;
}
.input.checkbox {
    margin-left: 21px;
}

