.message{
	 color: #000;
    display: block;
    font-size: 120%;
    margin: 1em 0;
    padding: 0.8em;
    /*background: linear-gradient(center top , #76bf6b, #3b8230) repeat-x scroll 0 0 #3b8230;*/
     /*-webkit-background: -webkit-linear-gradient(center top , #76bf6b, #3b8230) repeat-x scroll 0 0 #3b8230;*/
    background: #76bf6b;
    clear: both;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.body-pad{
	padding-top: 6px;
}
#newsfeed .remove-pad{
	padding-left:0;
}
#config-tool{
	width: 300px;
}
#config-tool.closed {
    right: -300px;
}
.notice {
    color: #000;
    display: block;
    font-size: 120%;
    margin: 1em 0;
    padding: 0.8em;
}
.success {
    background: -moz-linear-gradient(center top , #76bf6b, #3b8230) repeat-x scroll 0 0 #3b8230;
    border: 1px solid rgba(0, 0, 0, 0.5);
    clear: both;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.error-message {
    color: red;
}
.error{
    color: red;
}
li.current a {
  color: #000 !important;
  font-weight: bold;
}
/*this is my CSS */
hr { 
    display: block;
    border-style: inset;
    border-width: 1px;
} 
.post{ 
   position: relative;
   bottom: 10px;
} 
.boxed {
    border: 1px solid black ;
    width: 470px;
    height: 180px;
    text-align: justify;
  /*  padding: 25px;
    border: 25px solid navy;
    margin: 25px;*/

}
.tbl{
    border-collapse: collapse;
    font-family : Verdana,Helvetica,Arial,sans-serif;
    float: left;
    border: 2px solid #e0e0e0;

}
.row{
    border: none;
    font-family : Verdana,Helvetica,Arial,sans-serif;

}
.column{
   
    border-top:  1px solid black;
    font-family : Verdana,Helvetica,Arial,sans-serif;
}

.column2{
    /*border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;*/
    border-top:  1px solid black;
    font-family : Verdana,Helvetica,Arial,sans-serif;
    border: 2px solid #e0e0e0;
}
.column3{
   border-left: 1px solid black;
    border-right: 1px solid black;
    border-top:  1px solid black;
    font-family : Verdana,Helvetica,Arial,sans-serif;
}
.column4{
   border-left: 1px solid black;
    border-right: 1px solid black;
   
    font-family : Verdana,Helvetica,Arial,sans-serif;
}


.item_type.test.Vat-check {
    margin-left: 21px;
}
.input.checkbox {
    margin-left: 21px;
}


/*#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }*/
 
#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 19px;
}
#searchfield form .biginput {
  width: 412px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}
/*#custom-templates .empty-message {
padding: 5px 10px;
text-align: center;
} */
.categories_right #AdSearchForm input.ui-autocomplete-input {
    color: #777;
    padding: 6px 11px;
    width: 100%;
}

.filter-block.pull-left.searchboxfieldcont {
    margin-left: 19px;
}

.top-space{
  padding-top: 20px;
}
.item-detail{
  text-align: center;
}


.paging span {
  border-right: 1px solid #ccc;
  padding: 8px 15px;
}
.paging span:nth-child(1) {
  border-left: 1px solid #ccc;
}
.paging span.next {
  border-left: 1px solid #ccc;
}
.paging span {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 8px 15px;
}

.table-responsive {
  overflow:initial;
}




/*new css for sorting fields bienskie*/

body.dragging, body.dragging * {
    cursor: move !important;
}
 .dragged {
    position: absolute;
    top: 0;
    opacity: .5;
    z-index: 2000;
}
 .sorted-table tr {
    cursor: pointer;
}
 .sorted-table tr.placeholder {
    display: block;
    background: red;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}
 .sorted-table tr.placeholder:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none;
}
.ui-state-default {
  background: none repeat scroll 0 0 white !important;
  border: medium none !important;
  cursor: all-scroll;
}

#sortable { list-style-type: none; margin: auto; padding: 0; width: 100%; }
  /*#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }*/
.col-lg-2.control-label.my-pad {
  width: 161px;
}

.dragField:hover{
  background-color: #F2F2F2;
}

.dragField {
  padding: 15px 1px 1px;
}

.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 4px;
  min-height: 20px;
  padding: 6px;
}


/*small icon*/

.table-link.small-link-icon {
  margin: 0 !important;
}
.modal.fade.in {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}
.tag.label.label-info {
  background: none repeat scroll 0 0 #03a9f4;
}

.form-group.permissionCheck {
  margin: auto auto auto 135px;
}
.form-group.permissionCheck1 {
  margin: auto auto auto 135px;
}
.col-lg-1.sizeWith {
  padding-left: 0;
  padding-right: 0;
  padding-top: 6px;
  width: 60px;
}
.modal-dialog.specModal {
  width: 60%;
  cursor: auto;
}